{% extends 'base.html'%}

{% block title  %}
Update Item
{% endblock title %}

{% block nav %}
<div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav navbar-right">
  <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    <li><a href="{% url 'view_trans' %}"><span class="glyphicon glyphicon-list-alt"></span> View Transactions</a></li>
    <li><a href="{% url 'add' %}"><span class="glyphicon glyphicon-plus"></span> add item</a></li>
    <li><a href="/shop/logout/"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
  </ul>
</div>
{% endblock nav %}




{%  block content %}
<div class="container">
  <h1>update {{item.item_name}}</h1>

  <form action="{% url 'update' %}" method="POST" class="form-horizontal" role="form">
    {% csrf_token %}

    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="name" name="item_name" value="{{item.item_name }}">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="cost">Cost:</label>
      <div class="col-sm-2">
        <input type="number" step="0.01" name="item_cost" value="{{item.item_cost }}" class="form-control" id="cost" >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="disc">Discount:</label>
      <div class="col-sm-2">
        <input type="number" step="0.01" name="item_discount" value="{{item.item_discount }}" class="form-control" id="disc"  >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="desc">Description:</label>
      <div class="col-sm-5">
        <textarea cols="20"  name="item_description" rows="5" class="form-control" id="desc" >{{item.item_description }}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="quan">Quantity:</label>
        <div class="col-sm-2">
          <input type="number"  name="item_quantity" value="{{item.item_quantity }}" class="form-control" id="quan" >
        </div>


        

      </div>
      <input type="hidden" name="item_id" value="{{item.id}}">
      <div class="form-group">

      <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default " name='submit' value="update" >update</button>
        </div>
      </div>







    </form>

  </div>
  {% endblock content %}